.fourthContainer {
  background-color: #3c1816;
  width: 100%;
  min-height: 30rem;
  padding: 2rem 0;
}

.fourthSecondContainer {
  padding: 3rem 0;
}

.mainTitle {
  color: white;
  text-align: center;
  letter-spacing: 0.01em;
  font-weight: bold;
  font-size: 2.5rem;
}

.column {
  text-align: center;
  padding: 1.5rem;
}

.columnContent {
  min-height: 13rem;
}

.paragraph {
  color: #ffffff;
  font-family: "Inter";
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.text {
  display: inline-block;
  color: #ffffff;
  font-family: "Inter";
}

.learnMore {
  color: var(--primary-color);
  font-size: 1rem;
}

/* Card */

.fourthSecondContainer .cardContainer .card {
  background-color: #ededed;
}

.cardTitle {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.cardText {
  font-size: 1rem;
  color: black;
  display: inline-block;
}

@media only screen and (max-width: 1199px) {
  .column {
    padding: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .column {
    padding: 2.5rem;
  }
}
