.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.item {
  margin: 0.5rem 0;
  width: 5rem;
  text-align: center;
}

.space {
  text-align: center;
}

.itemTitle {
  font-size: 0.8rem;
  font-weight: bold;
  color: #000000;
  display: block;
}

.itemDescription {
  font-size: 0.7rem;
  color: #000000;
}
