.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  margin-inline-end: 1rem;
}

.ourRate {
  font-size: 1rem;
  color: #25272b;
}

.rateText {
  font-weight: bold;
  font-size: 1.3rem;
  margin-inline-end: 0.5rem;
  color: #25272b;
}

.rateStars {
  color: #f4b223;
}

.restaurantRate {
  margin: 0.5rem 0;
}

.reviews {
  margin-inline-start: 0.5rem;
}
