/* that style for collapse */
/* .collapse .collapseItem > div[class="ant-collapse-header"] {
  padding: 0;
}

.collapse .collapseItem div[class="ant-collapse-content-box"] {
  padding: 0;
} */

.checkbox span[class="ant-checkbox-inner"] {
  border-radius: 1.5px;
}

.checkbox > span {
  margin: 0rem 0.2rem;
  font-size: 0.8rem;
}
