.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.tab > div[class="ant-tabs-nav"]::before {
  border-bottom: 3px solid #c4c4c4;
}

.tab div[class*="ant-tabs-nav-list"] > div[class*="ant-tabs-tab"] > div {
  color: #000000;
  text-shadow: none;
}

.tab div[class*="ant-tabs-nav-list"] > div[class*="ant-tabs-ink-bar"] {
  height: 3px;
}

.listItem {
  margin: 0 0.1rem;
}

/* Card */
.card {
  height: 10rem;
}

.coverContainer .image {
  border-radius: 5px;
}

.content {
  width: 100%;
  background-color: var(--primary-color);
  opacity: 0.8;
  mix-blend-mode: normal;
  font-family: "Poppins";
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
}

.cardTitle {
  color: var(--home-card-title-color);
  font-size: 1rem;
  font-weight: bold;
}

.showMoreButton {
  padding: 0 2rem;
  margin-top: 1rem;
}

/* Modal */
.modalImageContainer {
  position: relative;
  height: 20rem;
}

.modalTitle {
  font-size: 1rem;
  font-weight: bold;
}

.modalRateStars {
  color: #f4b223;
}

.modalDescription {
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .modalImageContainer {
    height: 15rem;
  }
}

@media only screen and (max-width: 576px) {
  .modalImageContainer {
    height: 10rem;
  }

  .showMoreButton {
    padding: 0 1rem;
  }
}
