.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-top: 0.2rem;
}

.row {
  width: 100%;
}

.mainInfo {
  background-color: white;
  width: 75%;
  height: 6rem;
  padding: 0.5rem 4%;
}

.reservationBox {
  position: sticky;
  top: 2rem;
}

.marginTopMinus6x {
  margin-top: -6rem;
}

@media only screen and (max-width: 991px) {
  .mainInfo {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .reservationBox {
    margin: 0;
    position: fixed;
    top: auto;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    z-index: 1;
  }
}

@media only screen and (max-width: 575px) {
  .mainInfo {
    height: 10rem;
  }
}
