.firstContainer {
  width: 100%;
  min-height: 36rem;
  max-height: 36rem;
  position: relative;
}

.column {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  min-height: 36rem;
  width: 23%;
}

.buttons {
  margin-bottom: 2rem;
  z-index: 1;
}

.carouselItem {
  min-height: 36rem;
  width: 100%;
  position: relative;
}

.content {
  padding: 2rem;
  text-align: start;
}

.title {
  color: #000000;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-bottom: 0.3rem;
  margin-top: -3em;
}

.text {
  color: #525252;
  font-size: 1rem;
  letter-spacing: 0.01em;
}

.searchBoxLeft {
  left: 6.5%;
  position: absolute;
  z-index: 10;
  margin-top: 2em;
  width: 35%;
}

.searchBoxRight {
  right: 6.5%;
  position: absolute;
  z-index: 10;
  margin-top: 2em;
  width: 35%;
}

.searchField {
  width: 80%;
  display: inline-block;
}

.searchInputAr {
  border-radius: 0px 5px 5px 0px;
  width: 100%;
  height: 40px;
}

.searchInputEn {
  border-radius: 5px 0px 0px 5px;
  width: 100%;
  height: 40px;
}

.searchButtonEn {
  border-radius: 0px 5px 5px 0px;
  width: 20%;
  height: 40px;
}

.searchButtonAr {
  border-radius: 5px 0px 0px 5px;
  width: 20%;
  height: 40px;
}
@media only screen and (max-width: 991px) {
  .column {
    width: 20%;
  }

  .searchBoxLeft,
  .searchBoxRight {
    margin-top: 7em;
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .firstContainer {
    min-height: 22rem;
    max-height: 22rem;
  }

  .column {
    min-height: 22rem;
    width: 30%;
  }

  .carouselItem {
    min-height: 22rem;
  }

  .title {
    text-align: center;
    font-size: 2rem;
  }

  .textContainer {
    text-align: center;
  }

  .text {
    color: #323232;
  }
  .searchBoxLeft,
  .searchBoxRight {
    margin: 3em;
    width: 75%;
    margin-top: 3em;
  }
}

@media only screen and (max-width: 500px) {
  .searchBoxLeft,
  .searchBoxRight {
    margin: 0px;
    margin-top: 5em;
    width: 85%;
  }

  .searchField {
    width: 70%;
  }

  .searchButtonAr,
  .searchButtonEn {
    width: 30%;
  }
}
