.firstContainer {
  width: 100%;
  min-height: 36rem;
  max-height: 36rem;
  position: relative;
}

.column {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  min-height: 36rem;
  width: 23%;
}

.buttons {
  margin-bottom: 2rem;
  z-index: 1;
}

.carouselItem {
  min-height: 36rem;
  width: 100%;
  position: relative;
}

.content {
  padding: 2rem;
  text-align: start;
}

.title {
  color: #000000;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-bottom: 0.3rem;
}

.text {
  color: #525252;
  font-size: 1rem;
  letter-spacing: 0.01em;
}

@media only screen and (max-width: 991px) {
  .column {
    width: 20%;
  }
}

@media only screen and (max-width: 767px) {
  .firstContainer {
    min-height: 22rem;
    max-height: 22rem;
  }

  .column {
    min-height: 22rem;
    width: 30%;
  }

  .carouselItem {
    min-height: 22rem;
  }

  .title {
    text-align: center;
    font-size: 2rem;
  }

  .textContainer {
    text-align: center;
  }

  .text {
    color: #323232;
  }
}
