.container {
  padding: 1rem;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: #555555;
}

.textContainer {
  text-align: center;
  margin-bottom: 0.5rem;
}

.text {
  color: #555555;
  font-weight: bold;
  font-size: 16px;
}

.title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 25px;
}

.googlePlayContainer {
  width: 100%;
}

.appStoreContainer {
  width: 100%;
}

.directLinkContainer {
  width: 100%;
}
