.carousel {
  height: 25rem;
}

.itemContainer {
  padding: 1rem;
}

.carousel .leftArrowButton {
  position: absolute;
  inset-inline-end: 4.5rem;
  inset-block-end: 1rem;
  height: 50px;
  width: 50px;
}

.carousel .rightArrowButton {
  position: absolute;
  inset-block-end: 1rem;
  inset-inline-end: 1rem;
  height: 50px;
  width: 50px;
}
