.loadMoreContainer {
  margin: 1rem 0;
  padding: 0 1rem;
}

.showMoreButton {
  padding: 0 2rem;
}

@media only screen and (max-width: 576px) {
  .loadMoreContainer {
    margin: 0;
    padding: 0;
  }
  .showMoreButton {
    padding: 0 1rem;
  }
}
