.thirdContainer {
  background-color: #ebf3f6;
  width: 100%;
  min-height: 40rem;
  position: relative;
}

.backgroundImage {
  z-index: 0;
}

.dishContainer {
  padding: 0 2rem;
}

.contentContainer {
  margin-top: 7rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.title {
  color: #000000;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.textContainer {
  margin: 1rem 0;
  padding-inline-end: 3rem;
}

.text {
  color: #656565;
  font-size: 1.4rem;
}

@media only screen and (max-width: 992px) {
  .dishContainer {
    display: none;
  }

  .contentContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    text-align: center;
  }

  .textContainer {
    text-align: center;
    padding: 0;
  }
}
