.thirdContainer {
  background-color: #ebf3f6;
  width: 100%;
  min-height: 40rem;
  position: relative;
}

.backgroundImage {
  z-index: 0;
}

.dishContainer {
  padding: 0 2rem;
}

.contentContainer {
  margin-top: 7rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.paragraph {
  color: #858585;
  font-weight: bold;
  font-size: 2rem;
}

.title {
  color: #000000;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.titleNumber {
  display: inline-block;
  color: #f7a800;
  border: 4px solid #f7a800;
  padding: 0 0.1rem;
  margin: 0 0.2rem;
  box-sizing: border-box;
  border-radius: 13px;
}

.textContainer {
  text-align: center;
  margin: 1rem 0;
  padding-inline-end: 3rem;
}

.text {
  color: #858585;
  font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
  .dishContainer {
    display: none;
  }

  .contentContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paragraph {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .textContainer {
    text-align: center;
    padding: 0;
  }
}
