/* First Column */

.firstColumn {
  background-color: #fafafa;
  min-height: 26rem;
  padding: 0 2rem;
}

.title {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0rem;
}

/* Second Column */

.secondColumn {
  min-height: 26rem;
  padding: 0 2rem;
  margin-top: 0rem;
}

/* Restaurant Card */

.card {
  height: 15rem;
}

.card .coverContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 15rem;
}

.coverContainer .image {
  border-radius: 5px;
}

.content {
  width: 100%;
  background-color: var(--primary-color);
  z-index: 0;
  opacity: 0.8;
  mix-blend-mode: normal;
  font-family: "Poppins";
  padding: 0.5rem;
  position: relative;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  text-align: start;
}

.cardTitle {
  color: var(--home-card-title-color);
  font-size: 1.2rem;
  font-weight: bold;
  height: 1.4rem;
  display: inline-block;
  vertical-align: middle;
}

.rateAndReview {
  height: 1.4rem;
  text-align: start;
}

.rateAndReview .rating,
.rateAndReview .reviews {
  display: inline-block;
  color: var(--home-card-title-color);
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
}

.reviews {
  margin-inline-start: 1rem;
}

.address,
.address span {
  color: var(--home-card-title-color);
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  height: 1.4rem;
}

.content .rating > li {
  margin: 0 0.1rem;
  color: #f7a800;
  border-radius: 0.3px;
  font-size: 0.9rem;
}

.plateIcon {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

/* Event Card */
.eventCard {
  height: 15rem;
}

.eventCard .eventCoverContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 15rem;
}

.eventCoverContainer .eventImage {
  border-radius: 5px;
}

.eventContent {
  width: 100%;
  background-color: var(--primary-color);
  z-index: 0;
  opacity: 0.8;
  mix-blend-mode: normal;
  font-family: "Poppins";
  padding: 0.5rem;
  position: relative;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
}

.eventCardTitle {
  color: var(--home-card-title-color);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.eventTime {
  text-align: start;
  display: block;
  color: var(--home-card-title-color);
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.eventRestaurantAvatarContainer {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

/* Event Modal */
.modalBodyContainer {
  padding-top: 1rem;
}

.modalImageContainer {
  position: relative;
  height: 20rem;
}

.modalAvatar {
  width: 48px;
  height: 48px;
}

.modalTitle {
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: middle;
}

.at {
  vertical-align: middle;
}

.modalRestaurantName {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  color: var(--primary-color);
}

.modalRestaurantName:hover,
.modalRestaurantName:focus {
  color: rgba(0, 0, 0, 0.7);
}

.modalTime {
  display: block;
  color: var(--primary-color);
}
