.textContainer {
  margin-bottom: 1rem;
}

.title {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}

.details {
  font-size: 1rem;
}

.text {
  margin-inline-start: 0.5rem;
}
.rightIcon
{
  position: absolute;
  font-size: 1.2rem;
  top: 0.5rem;
  right: 5rem;
}
.leftIcon
{
  position: absolute;
  font-size: 1.2rem;
  top: 0.3rem;
  left: 7.5rem;
}